# FATAFAT Production Environment Variables

# Authentication secret used for password hashing salt and session validation
AUTH_SECRET=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# MongoDB Persistent Database Configuration
MONGODB_URI=
MONGODB_DB=
